<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Quiz Tecnosulfur</title>
  <link rel="stylesheet"  href="/static/style.css" />
</head>
<body>
  <header class="ts-header">
    <img src="/static/Logo.png" alt="Tecnosulfur" class="ts-logo" />
    <h1 class="ts-title">TECQuiz</h1>
  </header>

  <main class="ts-main">
    <!-- TELA INICIAL -->
    <section id="start-screen" class="card">
      <h2>Bem-vindo!</h2>
      <p class="muted">Leia as regras e toque em <strong>Começar</strong>.</p>
      <ul class="rules">
        <li>Você responderá <strong>5 perguntas. </strong>.</li>
        <li>Você terá <strong>30 segundos</strong> para cada pergunta.</li>
        <li>Se acertar as 5, <strong>participará do sorteio de uma JBL!</strong> 🎁</li>
      </ul>

      <form id="cadastroForm">
        <label>Nome:
          <input type="text" id="nome" required>
        </label>
        <label>Empresa/Instituição:
          <input type="text" id="empresa" required>
        </label>
        <label>Cargo:
          <select id="cargo" required>
            <option value="">Selecione...</option>
            <option>Diretor</option>
            <option>Gerente</option>
            <option>Engenheiro</option>
            <option>Estudante</option>
            <option>Outro</option>
          </select>
        </label>
        <label>Email:
          <input type="email" id="email" required>
        </label>
        <label>
          <input type="checkbox" id="promo"> Aceito receber informações promocionais
        </label>
      </form>

      <p id="cadastro-msg" style="color:red;"></p>

      <div id="status-msg" class="status hidden"></div>

      <button id="start-btn" class="btn btn-primary">Começar</button>

      <ul class="credits">
        <p>Desenvolvido por Álvaro Silva. Versão 1.0.0</p>
    </section>



    <!-- TELA DO QUIZ -->
    <section id="quiz-screen" class="card hidden">
      <div class="quiz-topbar">
        <div id="progress" class="progress">Pergunta 1/5</div>
        <div id="timer" class="timer">Tempo: 30s</div>
      </div>

      <h2 id="question" class="question"></h2>
      <div id="answers" class="answers"></div>
    </section>

    <!-- TELA DE RESULTADO -->
    <section id="result-screen" class="card hidden">
      <h2>Resultado</h2>
      <p id="result-text" class="result-text"></p>
      <div class="actions">
        <button id="play-again" class="btn btn-primary">Jogar novamente</button>
        <button id="back-home" class="btn btn-secondary">Voltar ao início</button>
      </div>
    </section>
  </main>

  <script src="/static/quiz.js"></script>
</body>
</html>
